@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(between, center);
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid colors.$GRAYE;

  .logoImage {
    width: 150px;
    height: 34px;
  }

  ul {
    @include flexbox.flexbox(center, center);
    width: 100%;
    height: 60px;

    li {
      + li {
        margin-left: 24px;
      }
    }

    a {
      padding: 4px 14px;
      color: colors.$GRAY2;
      user-select: none;

      &.isActive {
        font-weight: 600;
        color: colors.$SIGNATURE_GREEN;
      }
    }
  }
}
