/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.pageContainer {
  @include flexbox.flexbox(center, start);
  flex-wrap: wrap;

  aside {
    width: 200px;
    height: 100%;
    border: 1px solid colors.$GRAYE;
    border-radius: 10px;

    ul {
      @include flexbox.flexbox(start, center);
      flex-direction: column;

      li {
        width: 100%;
        height: 100%;
        font-size: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        + li {
          border-top: 1px solid colors.$GRAYE;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:hover {
          background-color: colors.$GRAYE;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 20px;
          color: colors.$BLACK;
          text-decoration: none;
        }
      }
    }
  }

  section {
    width: 100%;
    max-width: 600px;
  }

  .editForm {
    @include flexbox.flexbox(between, center);
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 100%;

    .imgContainer {
      @include flexbox.flexbox(center, center);
      flex-direction: column;
      width: 100%;

      .userPicture {
        width: 100px;
        height: 100px;
        margin: 30px 0;
        border-radius: 50%;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 8%);
        object-fit: cover;
        object-position: center;
      }

      input {
        width: 180px;
        font-size: 14px;
      }
    }

    .textInputContainer {
      margin: 30px 0 40px;

      .inputLabel {
        margin-top: 10px;
      }

      .textInput {
        height: 50px;
        padding: 10px 20px;
        margin: 10px 0;
        border: 1px solid colors.$GRAYE;
        border-radius: 10px;
      }
    }

    .submitButton {
      height: 50px;
      padding: 15px 30px;
      font-size: 16px;
      vertical-align: middle;
      border: 1px solid colors.$GRAYE;
      border-radius: 10px;
      transition: 300ms;

      &:hover {
        color: colors.$GRAY3;
        background-color: rgba(colors.$SYSTEM_BLUE, 0.5);
      }
    }
  }
}

@include responsive.after(ML) {
  .pageContainer {
    @include flexbox.flexbox(center, start);
    flex-direction: row;
    gap: 30px;
  }
}

@include responsive.after(SD) {
  .pageContainer {
    .editForm {
      max-width: 768px;
      margin: auto;
    }
  }
}
