// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// Project
$SYSTEM_RED: #ff453a;
$SYSTEM_BLUE: #0a84ff;
$SIGNATURE_GREEN: #15c39a;
$GRADIENT_BLUE: #0b8bf3;
$MAIN_BORDER: #f1f1f1;

$FIRST_BOX_SHADOW: #e0e3fe;
$SECOND_BOX_SHADOW: #c3dcf4;
$THIRD_BOX_SHADOW: #9ee6d5;
