@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 20px;
  margin-top: 60px;
}
