@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  width: 100%;
  height: 100%;

  .loginRequired {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px 0;
    font-size: 18px;
    line-height: 30px;
  }
}
