@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.postCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid colors.$MAIN_BORDER;
  border-radius: 20px;

  + .postCard {
    margin-top: 10px;
  }

  dl {
    @include flexbox.flexbox(between, center);
    width: 100%;

    .subText {
      font-size: 15px;
      color: colors.$GRAYA;
    }

    .mainText {
      margin-top: 5px;
      font-size: 18px;
    }
  }

  dt {
    display: none;
  }
}
