@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.pageContainer {
  @include flexbox.flexbox(center, center);
  width: 100%;
  height: 100%;

  .formContainer {
    width: 100%;
    height: 100%;

    .titleContainer {
      display: flex;
      height: 40px;
      margin-bottom: 15px;

      input {
        width: 100%;
        padding: 0 15px;
        margin-left: 10px;
        border: 1px solid colors.$MAIN_BORDER;
        border-radius: 10px;
      }
    }

    .buttonWrapper {
      display: flex;
      justify-content: flex-end;

      button {
        + button {
          margin-left: 10px;
        }
      }
    }
  }
}

@include responsive.after(LD) {
  .pageContainer {
    width: 1200px;
    margin: auto;
  }
}
