@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.pageContainer {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  width: 100%;
  height: 100%;

  .suggestions {
    height: calc(100vh - 200px);
    overflow-y: auto;
  }

  .container {
    width: 100%;
    height: 100%;

    + .container {
      margin-top: 30px;
    }

    .title {
      @include flexbox.flexbox(start, center);
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 3px solid colors.$SIGNATURE_LIGHT_GREEN;

      svg {
        height: 60px;
      }

      h2 {
        font-weight: 600;
      }
    }

    .gecForm {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 300px;

      .textContainer {
        position: relative;
        width: 100%;
        height: 100%;

        .grammarlyText {
          width: 100%;
          height: 100%;
          padding: 20px;
          resize: none;
          border: 1px solid colors.$GRAYE;
          border-radius: 10px;
          box-shadow: 0;
          transition: 300ms;

          &:focus {
            box-shadow: 0 1px 4px colors.$BOX_SHADOW;
          }
        }

        .textLength {
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
      }

      button {
        margin-top: 10px;
      }
    }
  }

  .suggestionWrapper {
    border: 1px solid colors.$MAIN_BORDER;
    border-radius: 10px;

    + .suggestionWrapper {
      margin-top: 10px;
    }

    .wrong {
      @include flexbox.flexbox(start, center);
      min-height: 50px;
      padding: 20px;
      color: colors.$SYSTEM_RED;
      background-color: inherit;
      border-bottom: 1px solid colors.$GRAYA;
    }

    .suggestionCard {
      .suggestionButton {
        width: 100%;
        min-height: 70px;
        padding: 20px;
        font-size: 16px;
        text-align: left;
        word-break: keep-all;
        transition: 200ms;

        &:hover {
          background-color: colors.$GRAYE;
        }

        .right {
          margin-left: 5px;
          color: colors.$SYSTEM_BLUE;
          background-color: inherit;
        }
      }

      +.suggestionCard {
        .suggestionButton {
          border-top: 1px solid colors.$MAIN_BORDER;
        }
      }
    }
  }
}

@include responsive.after(ML) {
  .pageContainer {
    @include flexbox.flexbox(center, start);
    flex-direction: row;
    padding: 10px;

    .container {
      width: 50%;
      height: calc(100vh - 120px);
      padding-right: 3%;

      + .container {
        padding: 0 0 0 3%;
        margin-top: 0;
        border-left: 2px solid colors.$GRAYD;
      }

      .gecForm {
        height: calc(100% - 60px);
      }

      .textLength {
        right: 40px;
        bottom: 20px;
      }
    }
  }
}

@include responsive.after(LD) {
  .pageContainer {
    width: 1200px;
    margin: auto;

    .container {
      .textLength {
        right: 60px;
        bottom: 20px;
      }
    }
  }
}
