/* stylelint-disable declaration-colon-newline-after */
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.pageContainer {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 100%;
  user-select: none;

  .indexBox {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    width: calc(100% + 40px);
    height: 600px;
    margin-top: -20px;
    background: colors.$SIGNATURE_GREEN;
    background: linear-gradient(
      85deg,
      colors.$THIRD_BOX_SHADOW,
      rgba(colors.$SYSTEM_BLUE, 0.3),
      rgba(colors.$SIGNATURE_GREEN, 0.3),
      rgba(colors.$GRADIENT_BLUE, 0.3)
    );
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: 200ms;
    animation: backgroundChange 4000ms ease-in-out infinite;

    h1 {
      margin: 50px 0 20px;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      word-break: keep-all;
      transition: 200ms;
    }

    p {
      margin-bottom: 60px;
      font-size: 24px;
      text-align: center;
      transition: 200ms;
    }

    .gecButton {
      position: relative;
      display: inline-block;
      min-width: 150px;
      min-height: 50px;
      padding: 0;
      font-size: 18px;
      line-height: 42px;
      color: colors.$GRAY2;
      text-decoration: none;
      background: linear-gradient(90deg, rgba(colors.$GRADIENT_BLUE, 0.3), rgba(colors.$SYSTEM_BLUE, 0.3));
      border-radius: 5px;
      box-shadow: 7px 7px 20px 0 colors.$SUB_BOX_SHADOW, 4px 4px 5px 0 colors.$SUB_BOX_SHADOW;
      transition: all 0.3s ease;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        background: colors.$SYSTEM_BLUE;
        transition: all 0.3s ease;
      }

      &::before {
        width: 2px;
        height: 0%;
      }

      &::after {
        width: 0%;
        height: 2px;
      }

      &:hover {
        background: rgba(colors.$WHITE, 0.2);
        box-shadow: none;

        &::before {
          height: 100%;
        }

        &::after {
          width: 100%;
        }
      }

      span {
        display: block;
        width: 100%;

        &::before,
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: '';
          background: colors.$SYSTEM_BLUE;
          transition: all 0.3s ease;
        }

        &::before {
          width: 2px;
          height: 0%;
        }

        &::after {
          width: 0%;
          height: 2px;
        }

        &:hover {
          &::before {
            height: 100%;
          }

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .container {
    @include flexbox.flexbox(center, center);
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin-top: 50px;
    transition: 200ms;

    .textContainer {
      @include flexbox.flexbox(center, start);
      flex-direction: column;

      h2 {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        word-break: keep-all;
        transition: 200ms;
      }

      p {
        font-size: 18px;
        line-height: 20px;
        transition: 200ms;
      }
    }

    .imgContainer {
      border-radius: 50%;
      box-shadow: 30px -35px 35px 0 colors.$FIRST_BOX_SHADOW;
      transition: 200ms;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 1px 4px colors.$BOX_SHADOW;
      }
    }
  }

  .desktopContainer {
    display: none;
  }
}

@include responsive.after(ML) {
  .pageContainer {
    .container {
      flex-wrap: nowrap;
      justify-content: space-between;
      height: 600px;
      margin-top: 0;
    }

    .mobileContainer {
      display: none;
    }

    .desktopContainer {
      display: flex;
    }

    .secondContainer {
      display: flex;

      .imgContainer {
        box-shadow: -30px -35px 35px 0 colors.$SECOND_BOX_SHADOW;
      }

      .textContainer {
        align-items: flex-end;
      }
    }
  }
}

@include responsive.after(SD) {
  .pageContainer {
    .indexBox {
      height: 700px;

      h1 {
        margin: 50px 0 30px;
        font-size: 40px;
      }

      p {
        margin-bottom: 80px;
        font-size: 32px;
      }

      .gecButton {
        padding: 15px 35px;
        font-size: 24px;
      }
    }

    .container {
      flex-wrap: nowrap;

      .textContainer {
        h2 {
          margin-bottom: 20px;
          font-size: 32px;
          line-height: 40px;
        }

        p {
          font-size: 24px;
          line-height: 30px;
        }
      }

      .imgContainer {
        box-shadow: 40px -50px 40px 0 colors.$FIRST_BOX_SHADOW;

        img {
          height: 210px;
        }
      }
    }

    .secondContainer {
      .imgContainer {
        box-shadow: -40px -50px 40px 0 colors.$SECOND_BOX_SHADOW;
      }
    }
  }
}

@include responsive.after(MD) {
  .pageContainer {
    .container {
      margin-top: 50px;

      .imgContainer {
        img {
          height: 250px;
        }
      }
    }
  }
}
